<ion-view view-title="Login">
  <ion-content class="padding">
    <center>
    	<img src="img/pincode.png">
    </center>
    
    <div class="list list-inset">
  		<label class="item item-input">
    		<input type="text" placeholder="First Name">
  		</label>
  		<label class="item item-input">
    		<input type="text" placeholder="Last Name">
  		</label>
  		<p class="text-right">
             <a href="#/app/forgot-password">Forgot password</a>
        </p>
  		<button type="submit" class="button button-block button-stable">Login</button>
	</div>
	<div>
		<center>
			<a class="button button-stable" href="#/app/signUp">SignUp</a>
		</center>
	</div>
	<div>
		<!-- <center>
			<a class="icon ion-social-facebook" href="#"></a>
			<a class="icon ion-social-googleplus" href="#"></a>			
		</center> -->
	</div>
  </ion-content>
  <ion-footer-bar>
 		<div>
 			<span>Powered by @ HRY Technologies Inc.</span> 
 		</div>
  	</ion-footer-bar>
</ion-view>
