<ion-view title="Signup">
	<ion-header-bar align-title="center" class="bar-assertive">
		<div class="buttons">
      		<button class="button button-icon ion-ios-arrow-left" onclick="window.history.back();">
      			Back
	  		</button>
	  	</div>
	  <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                	<i class="icon ion-person placeholder-icon"></i>
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                	<i class="icon ion-email placeholder-icon"></i>
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                	<i class="icon ion-locked placeholder-icon"></i>
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input">
                	<i class="icon ion-locked placeholder-icon"></i>
                    <span class="input-label">Confirm</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button class="button button-stable button-block">Sign-Up</button>
        </form>
    </ion-content>
</ion-view>